AddDefaultCharset utf-8
RewriteEngine on
RewriteRule ^index.html index.php [L]
RewriteRule ^news.html$ index.php?route=news&item=all [L]
RewriteRule ^news/([a-zA-Z0-9_-]+.html)$ index.php?route=news&item=$1 [L]
RewriteRule ^afisha/([a-zA-Z0-9_-]+.html)$ index.php?route=afisha&item=$1 [L]
RewriteRule ^filials.html$ index.php?route=filials [L]
RewriteRule ^filials/([a-zA-Z0-9_-]+.html)$ index.php?route=filials&item=$1 [L]
RewriteRule ^readers/([a-zA-Z0-9_-]+.html)$ index.php?route=readers&item=$1 [L]
RewriteRule ^about/([a-zA-Z0-9_-]+.html)$ index.php?route=about&item=$1 [L]
RewriteRule ^work/([a-zA-Z0-9_-]+.html)$ index.php?route=work&item=$1 [L]
RewriteRule ^reading/recommendation/([a-zA-Z0-9_-]+.html)$ index.php?route=reading&item=$1 [L]
RewriteRule ^projects.html$ index.php?route=projects [L]
RewriteRule ^print.html$ index.php?route=print [L]
RewriteRule ^publish.html$ index.php?route=publish [L]
#Must be disable on local server
#RewriteRule ^news_add.php$ / [QSA,R]